saved_model/*.pth
sampled_rfam_with_embeddings.csv
sampled_rfam_no_header.csv
**/__pycache__
example_data/*
output/
.DS_Store
*.ipynb
*.csv
*.tsv
*.json
plots/
data/*
launch.json
.vscode/
benchmarking_results-*