torch==2.4.1
torchvision==0.19.1
torch-geometric==2.6.1
pandas==2.2.3
numpy==2.1.2
scikit-learn==1.5.2
argparse==1.4.0
tqdm==4.66.5
forgi==2.2.3
igraph==0.11.8
matplotlib==3.9.2
seaborn==0.13.2
plotly==5.24.1